/* tipo de selector {
    propiedad: valor;
    propiedad-2: valor;
} */


/* selector universal */

* {
    border: 1px solid red;
    margin: 10px;
}


/* selector de etiquetas */

header {
    background: blue;
}

section {
    background: purple;
}


/* selector descandentes */

article h3 {
    color: green;
}


/* selector de clase */

.title-a {
    background: yellow;
}

.title-b {
    background: salmon;
}


/* selector de id */

#header {
    border: 3px solid black;
}

#portada {
    border: 3px solid orange;
}

#guitarras {
    border: 3px solid brown;
}